<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Form</title>
</head>
<body>
    <div align="center">
        <h2> 레코드 추가 화면 </h2>
        <form method="post" action="/insert">
            코드 : <input name="code" size="15"/><br>
            상품 : <input name="name" size="15"/><br>
            수량 : <input name="su" size="15"/><br>
            단가 : <input name="dan" size="15"/><br><br>
            <input type="submit" value="저장"/>
            <input type="reset" value="취소"/>
        </form>


    </div>
</body>
</html>